
<div class="container">
<div *ngFor="let p of productsList">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">{{p.description}}</p>
      <a  class="btn btn-primary" (click)="addToCart(p)"  >Add </a>
      <a  class="btn btn-danger" (click)="removeProduct(p)"  >Delete </a>
      <a  class="btn btn-secondary" (click)="counterLike(p)"  >like   </a> {{p.like}}
    </div>
  </div>
</div>
</div>

